@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


.footer--light .containernew{
  max-width: 1250px;
  margin: auto;
  display: none;
  padding: 30px 40px 40px 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer--light .containernew .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.top .logo-details{
  color: #fff;
  font-size: 30px;
 
}
.top .media-icons{
  display: flex;
}
.endpage{
   margin-top: 2800vw;
   position: relative;
    bottom: 0;
    
}
.top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
.footer--light .containernew .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer--light .containernew .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.containernew .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.containernew .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.containernew .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.containernew .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
.footer--light .bottom-details{
  width: 100%;
  background: #404041;
}
.footer--light .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #181717;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  .footer--light .containernew .link-boxes{
    flex-wrap: wrap;
  }
  .footer--light .containernew .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  .footer--light{
    position: relative;
  }
  .containernew .top .logo-details{
    font-size: 26px;
  }
  .containernew .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  .footer--light .containernew .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  .footer--light .containernew .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  .footer--light::before{
    top: 145px;
  }
  .footer--light .containernew .top{
    flex-direction: column;
  }
  .containernew .top .media-icons{
    margin-top: 16px;
  }
  .footer--light .containernew .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  .footer--light .containernew .link-boxes .input-box{
    width: 100%;
  }
}

.footer--light {
  background: #181718;
}


.bookbutton {
  background-color: #27e0e0;
  border: none;
  color: #0a033f;
  font-weight: bold;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 10%;
 
}








  
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**
 * Reset
 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #e5e5e5;
	color: #1a1a1a;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
}

@media only screen and (min-width: 500px) and (max-width: 1800px) {
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 1px;
    margin: 10px;
    font-size: 25px;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.mobile-socials{
  display: none;
}

}
/**
 * Global Rules
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0d0d0d;
	font-family: Roboto, sans-serif;
	line-height: 1.2;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}





a:hover,
a:active {
	border-bottom: none;
	outline: 0;
}

a:focus {
	border-bottom: none;
	outline: thin dotted;
}

a img {
	border: 0;
}



/**
 * Tabs Container
 */
.tabs-container {
	padding: 2rem;
}

/**
 * Tabs Block
 */
.tabs-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * Tabs
 */
.tabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.tabs label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	margin-right: 0.0625rem;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	transition: background-color ease 0.3s;
}

.tabs label .material-icons {
	margin-right: 0.3rem;
}

.tabs .tab {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: none;
	padding: 1rem 2rem;
	color: #000;
	background-color: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.tabs .tab > *:not(:last-child) {
	margin-bottom: 0.8rem;
}

.tabs [type=radio] {
	display: none;
}

.tabs [type=radio]:checked + label {
	background-color: #fff;
	color: #0067b8;
	border-top: 4px solid #0067b8;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.tabs [type=radio]:checked + label + .tab {
	display: block;
}
@media (min-width: 768px) {

	body {
		font-size: 1.125rem;
	}

	.tabs-container {
		padding: 4rem 4rem;
	}

	.tabs label {
		order: 1;
		width: auto;
	}

	.tabs .tab {
		order: 9;
	}

	.tabs [type=radio]:checked + label {
		border-bottom: none;
	}
}
@media (min-width: 992px) {

	.tabs {
		width: 800px;
	}
}